<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'custom-fonts' %}
    {% render 'css-variables' %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'base.css' | asset_url | preload_tag: as: 'style' }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    {{ 'theme.js' | asset_url | preload_tag: as: 'script' }}
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>

    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
