<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {% render 'section-css-preloads' %}
    {{ content_for_header }}
  </head>
  <body>
    {%- comment -%}nazare:layout header{%- endcomment -%}
    {{ content_for_layout }}
    {%- comment -%}nazare:layout footer{%- endcomment -%}
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
  </body>
</html>
